BOT_TOKEN=  #необходимо указать токен для бота

POSTGRES_DB=zoroaster
POSTGRES_USER=    #необходимо указать пользователя базы данных
POSTGRES_PASSWORD=    #необходимо указать пароль к базе данных
PGDATA=/var/lib/postgresql/data/pgdata